{% extends "dashbord.html" %} 
{% load static %} 
{% load widget_tweaks %} 
{% block title %} {{title}} {% endblock title %} 

{% block subcategoria %}
    <li class="breadcrumb-item active">{{ title }}</li>
{% endblock subcategoria %}

{% block header %}
  
{% endblock header %} 
 Could not parse the remainder: '{{form.imagen}}' from '{{form.imagen}}'
{% block contenido %}
<div class="container-fluid">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">
            <i class="{{icon_card}}"></i> {{title_card}} articulo
          </h3>
        </div>
        <!-- /.card-header -->

        <!-- form start -->
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="card-body">
            <!-- Error -->
            {% if form.errors %}
              <br>
              <button type="button" class="btn btn-danger toastrDefaultError">
                Existen errores, click para mostrarlos
              </button>
            {% endif %}

            <div class="form-group">
              <label>{{form.nombre_articulo.label}} </label>
              {{form.nombre_articulo|add_class:'form-control'|attr:'autofocus:True'|attr:'placeholder: Nombre del artículo'|attr:'autocomplete:off'}}
            </div>

            <div class="row">
              <div class="col-md-6 col-sm-3">
                <div class="form-group">
                  <label>{{form.descripcion_articulo.label}} </label>
                  {{form.descripcion_articulo}}
                </div>
              </div>
              <div class="col-md-6 col-sm-3">
                <div class="form-group">

                  <div class="form-group">
                    <label for="inputEstimatedDuration">{{form.cantidad.label}}</label>
                    {{form.cantidad|add_class:'form-control'|attr:'id:inputEstimatedDuration'|attr:'type:number'|attr:'autocomplete:off'}}
                  </div>

                  <div class="form-group">
                    <label for="inputEstimatedDuration">{{form.stock_minimo.label}}</label>
                    {{form.stock_minimo|add_class:'form-control'|attr:'id:inputEstimatedDuration'|attr:'type:number'|attr:'autocomplete:off'}}
                  </div>

                  <div class="form-group">
                    <label for="inputEstimatedDuration">{{form.presentacion.label}}</label>
                    {{form.presentacion|add_class:'form-control'|attr:'id:inputEstimatedDuration'|attr:'type:number'}}
                  </div>

                  <div class="form-group">
                    <label for="inputEstimatedDuration">{{form.proveedor.label}}</label>
                    {{form.proveedor|add_class:'form-control'|attr:'id:inputEstimatedDuration'|attr:'type:number'}}
                  </div>

                  <div class="form-group">
                    <label for="inputEstimatedDuration">{{form.imagen.label}}</label>
                    {% if form.imagen.url != '' %}
                      <img src="{{form.imagen.url}}" alt="">
                    {% endif %}
                    {{form.imagen|add_class:'form-control'|attr:'id:inputEstimatedDuration'}}
                  </div>

                  <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                    {{form.estado|add_class:'custom-control-input'|attr:'id:customSwitch3'}}
                    <label class="custom-control-label" for="customSwitch3">{{form.estado.label}}</label >
                  </div>
                  
                </div>
              </div>
            </div>

          </div>
          <!-- /.card-body -->

          <div class="card-footer">
            <div class="row">
              <div class="col-sm-3">
                <button type="submit" class="btn btn-block btn-outline-success"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
              </div>
              <div class="col-sm-3">
                <a href="{% url 'listado_articulos' %}" class="btn btn-block btn-outline-warning"><i class="fa-solid fa-circle-arrow-left"></i> Cancelar</a>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- /.card -->
    </div>
    <!--/.col (left) -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container-fluid -->
{% endblock contenido %}


{% block js %}
  <script src="{% static 'input-number/src/bootstrap-input-spinner.js' %}"></script>
  <script src="{% static 'home/plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>

  <link rel="stylesheet" href="{% static 'CodeSeven/build/css/toastr.min.css' %}">
  <script src="{% static 'CodeSeven/build/js/toastr.min.js' %}"></script>

  <script>
    $("input\[type='number'\]").inputSpinner();

    $(function () {
      bsCustomFileInput.init();

      toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "preventDuplicates": true,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      };

      $('.toastrDefaultError').click(function() {
        toastr.error('{{form.non_field_errors}}')
      });
    });
  </script>
{% endblock js %}
  